.headerCard {
  background-color: unset;
  width: 430px;
  height: 240px;
  padding: 0;
}

.header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header h1 {
  font-size: 36px;
  line-height: 38px;
  max-width: 170px;
  font-weight: normal;
}

.header nav {
  text-align: right;
  vertical-align: baseline;
}

.label {
  font-size: 16px;
}

.label:last-child {
  margin-left: 10px;
}

.done {
  text-decoration: line-through;
}
